
@model IEnumerable<HMS.Models.tblPatientBill>

@{
    /**/

    ViewBag.Title = "BillListings";
}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Patients Bills Listings</h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    @*<th>Patient Appointment ID</th>*@
                                    <th>Patient Name</th>
                                    <th>Bill No</th>
                                    <th>Amount</th>
                                    <th>Discount</th>
                                    @*<th>Created AT</th>*@
                                    <th>Created By</th>
                                    <th>Description</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    //var Bill = ViewData["GetBills"];

                                    List<HMS.Models.tblPatientAppointment> patientbillList = ViewBag.appointment;
                                    List<HMS.Models.tblPatient> PatientList = ViewBag.patient;

                                    int i = 1;
                                    foreach (var item in Model)
                                    {
                                        var AppointmentData = patientbillList.Where(x => x.ID == item.PatientAppointmentID && x.isActive == true).FirstOrDefault();
                                        int? PatientID = AppointmentData.patient_id;
                                        var PatientData = PatientList.Where(x => x.Patient_id == @PatientID && x.is_active == true).FirstOrDefault();
                                        int ID = item.ID;
                                <tr>
                                    <td>@i</td>
                                    @*<td>@Html.DisplayFor(modelItem => item.PatientAppointmentID)</td>*@
                                    <td>@PatientData.Patient_Name</td>
                                    <td>@Html.DisplayFor(modelItem => item.BillNo)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Discount)</td>
                                    @*<td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>*@
                                    <td>@Html.DisplayFor(modelItem => item.CreatedBy)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                    <td>
                                        <a href='/DeleteBill?id=@item.ID'>Delete</a>|
                                        <a href='/EditBill?id=@item.ID'>Edit</a>|
                                        <a href='/Print_Page?Billid=@ID'>Print</a>|
                                    </td>
                                </tr>
                                        i++;
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function Delete(id) {
        var r = confirm("Are you sure");
        if (r == true) {
            var url = '/delete-test?id=' + id + '';

            window.location.href = url;

        }
        return false;

    }

</script>