@using HMS.ViewModels
@model HMS.ViewModels.CreateBillViewModel

@{
    ViewBag.Title = "Create Bill";
}

<section class="content">

    @using (Html.BeginForm("Create", "PatientsBill", new { Patient_id = Request.QueryString["Patient_id"], Appointment_id = Request.QueryString["Appointment_id"] }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container-fluid">
            <div class="block-header">
                <h2>Generate Bill</h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group form-line">
                                        @{
                                            if (Session["QueryVal"] == null)
                                            {
                                                <div class="drop-custum">
                                                    @Html.DropDownListFor(m => m.PatientAppointmentID, Model.PatientAppointmentDate ?? new List<SelectListItem>(), "- Select Appointment Date - ", new { @class = "form-control" })
                                                </div>
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(m => m.PatientAppointmentID, new { @style = "display: none;", @type = "Text", @Value = Session["QueryVal"], @class = "form-control", @id = "PatientAptID", @required = "required" })
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(m => m.Amount, new { @type = "Text", @class = "form-control", @id = "Amount", @placeholder = "Amount", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.Amount, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(m => m.Description, new { @type = "Text", @class = "form-control", @id = "Description", @placeholder = "Description", @required = "required" })
                                            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <input type="submit" id="btnInsert" class="btn btn-raised g-bg-cyan waves-effect" value="Insert" name="nameValueInsert" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="test-Div">
            <div class="row clearfix">
                <div class="container-fluid">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="block-header">
                            <h2>Bill Enteries</h2>
                        </div>
                        <div class="card">
                            <div class="body table-responsive">
                                <table id="tblBills" class="table table-bordered table-striped table-hover js-basic-example dataTable">
                                    <tr>
                                        <th style="width:100px">Sr.#</th>
                                        <th style="width:100px">Patient Appointmnet ID</th>
                                        <th style="width:100px">Amount</th>
                                        <th style="width:150px">Description</th>
                                        <th style="width:40px"></th>
                                    </tr>
                                    @{
                                        double? AmountTotal = 0;
                                        if (Session["templist"] != null)
                                        {
                                            List<PatientViewModel> lst = (List<PatientViewModel>)Session["templist"];
                                            int count = 0;

                                            foreach (var o in lst)
                                            {
                                                <tr id="test">
                                                    <td class="Count">
                                                        <span>@count</span>
                                                    </td>
                                                    <td class="">
                                                        <span>@o.PatientAppointmentID</span>
                                                    </td>
                                                    <td class="">
                                                        <span>@o.Amount</span>
                                                    </td>
                                                    <td class="">
                                                        <span>@o.Description</span>
                                                    </td>
                                                    <td>
                                                        <a class="Delete" href="javascript:;">Delete</a>
                                                    </td>
                                                </tr>
                                                AmountTotal += @o.Amount;
                                                count++;
                                            }}
                                        else
                                        {
                                            <tr>
                                                <td colspan="4"> No Data Found</td>
                                            </tr>
                                            }
                                        }
                                    </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        @*@Html.LabelFor(m => m.Note, "General Note")*@
                                        @{ Html.EnableClientValidation(false); }
                                        @Html.TextBoxFor(m => m.Note, new { @type = "Text", @class = "form-control", @id = "Note", @placeholder = "General Note" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        @{ Html.EnableClientValidation(false); }
                                        @Html.TextBoxFor(m => m.Discount, new { @type = "Text", @class = "form-control", @id = "Discount", @placeholder = "Discount(if any)" })
                                    </div>
                                </div>
                            </div>
                            @Html.TextBoxFor(m => m.CreatedAt, new { @style = "display: none;", @type = "Text", @Value = DateTime.UtcNow, @class = "form-control", @id = "CreatedAt", @required = "required" })
                            @Html.TextBoxFor(m => m.AmountTotal, new { @style = "display: none;", @type = "Text", @Value = @AmountTotal, @class = "form-control", @id = "AmountTotal", @required = "required" })
                            <div class="row clearfix">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <input type="submit" id="buttonSubmit" class="btn btn-raised g-bg-cyan waves-effect" value="Submit" name="nameValueSubmit" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</section>
<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
<script type="text/javascript">

    $("body").on("click", "#tblBills .Delete", function () {
        if (confirm("Do you want to delete this row?")) {
            var row = $(this).closest("tr");
            var customerId = row.find("span").html();
            console.log("customerId");
            debugger;
            $.ajax({
                type: "POST",
                url: "/Session_Delete",
                data: '{customerId: ' + customerId + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    alert("hello");
                    $("#test").remove();
                    //row.find("span").remove();
                        //row.find(".Delete").hide();
                        //row.find("span").html('&nbsp;');
                }
            });
        }
    });






    //Delete event handler.
    //$("body").on("click", "#tblBills .Delete", function () {
    //    if (confirm("Do you want to delete this row?")) {

    //      //  var row = $(this).closest("tr");
    //      //var customerId = row.find(".appt").data("id").html();

    //        var row = $(this).closest("tr");
    //        var customerId = row.find("span").html();
    //      //  $(customerId).append(" Clicked");
    //        debugger;
    //        $.ajax({
    //            type: "POST",
    //            url: "/Session_Delete",
    //            data: '{AppointmenttId: ' + customerId + '}',
    //            contentType: "application/json; charset=utf-8",
    //            dataType: "json",
    //            success: function (response) {
    //                alert("hello");
    //              //  if ($("#tblBills tr").length > 2) {
    //                //    row.remove();
    //                //} else {
    //                {
    //                    row.find(".Delete").hide();
    //                    row.find("span").html('&nbsp;');
    //                }
    //            }
    //        });
    //    }
    //});

    ////   Delete event handler.
    //$("body").on("click", "#tblBills .Delete", function (e) {
    //    if (confirm("Do you want to delete this row?")) {
    //        var row = $(this).closest("tr");
    //        //var AppointId = ;
    //        var row = $(this).closest("tr");
    //        var customerId = row.find(".appt").data("id").html();
    //        //spanObj = row.find(".appt");
    //        // ID = $(spanObj).data("id").html();
    //        debugger;
    //        $.ajax({
    //            type: "POST",
    //            url: "/Session_Delete",
    //            data: '{AppointmentId: ' + customerId + '}',
    //            contentType: "application/json; charset=utf-8",
    //            dataType: "json",
    //            success: function (response) {
    //                debugger;
    //                if ($("#tblBills tr").length > 2) {
    //                    row.remove();
    //                } else {
    //                    row.find(".Delete").hide();
    //                    row.find("span").html('&nbsp;');
    //                }
    //            }
    //        });
    //    }
    //});
</script>
@*<script>
        $("#btnInsert").on("click", function () {
            $("#test-Div").css("display", "block")
        });

    </script>*@



























