@model IEnumerable<HMS.Models.tblPatientBillDetail>

@{
    ViewBag.Title = "Edit";
   // Layout = null;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Patients Record</h2>

        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable">
                            <thead>
                                <tr>
                                    <th>Patient Bill ID</th>
                                    <th>Amount</th>
                                    <th>Created At</th>
                                    <th>Created By</th>
                                    <th>Description</th>
                                    <th>Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                  //  var id = ViewData["EditBillRecordID"];
                                    // var list = ViewData["EditRecords"];
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PatientBillID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Amount)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedAt)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CreatedBy)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </td>
                                            <td>
                                                <a href='/DeleteBill?id=@item.ID'>Delete</a>|
                                                @*<a href='/EditBill?id=@item.ID' id="editButton">Edit</a>|*@
                                                <a href='/EditDetailBill?id=@item.ID'>Edit</a>
                                                @*<a href="#" class="btn btn-success" onclick="AddEditPatient(@item.ID)"><i class="glyphicon glyphicon-pencil"></i>Edit</a>*@
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="row clearfix">
            <div class="col-sm-6 col-md-6 col-lg-6">
                <input type="submit" id="btnNew" name="nameValueNew"  class="btn btn-raised g-bg-cyan waves-effect" value="New" onclick="window.location.href='/EditDetailBill?id=@id'"/>
            </div>
        </div>*@
    </div>
</section>





