
@model HMS.ViewModels.PatientBillViewModel
@{
    ViewBag.Title = "AddEditPatient";
}


<section class="content">

    @using (Html.BeginForm("Edit", "PatientsBill", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container-fluid">
            <div class="block-header">
                <h2>Edit Bill</h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        @Html.HiddenFor(m => m.ID)
                                        <div class="form-line">
                                            @Html.DisplayNameFor(model => model.PatientBillID)
                                            @if (Model.PatientBillID > 0)
                                            {
                                                @Html.TextBoxFor(model => model.PatientBillID, new { @readonly = true, @class = "form-control", @placeholder = "PatientBillID" })
                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(model => model.PatientBillID, new {@class = "form-control", @placeholder = "PatientBillID" })
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.DisplayNameFor(model => model.Amount)
                                            @Html.TextBoxFor(model => model.Amount, new { @class = "form-control", @placeholder = "Amount" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.DisplayNameFor(model => model.Description)
                                            @Html.TextBoxFor(model => model.Description, new { @class = "form-control", @placeholder = "Description" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <input type="submit" id="btnSubmit" name="nameValueUpdate" class="btn btn-raised g-bg-cyan waves-effect" value="Update" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</section>
