
@model HMS.Models.tblMedicine

@{
    ViewBag.Title = "AddMedicine";
}

@using (Html.BeginForm("AddMedicine", "Medicine", new { medicine_id = Request.QueryString["medicine_id"] }))
{
    @Html.ValidationSummary(true)
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>Add Medicine </h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">

                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-group drop-custum">
                                            @Html.DropDownListFor(model => model.MedicineCategoryID, new SelectList(ViewBag.MedicineCat, "ID", "MedicineCategoryName"), "---Select Medicine Category---", new { @class = "form-control show-tick", @id = "ddlCat" })



                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(x => x.MedicineName, new { @type = "Text", @class = "form-control", @id = "txtName", @placeholder = "Medicine Name", @required = "required" })

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">

                                
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(x => x.Description, new { @type = "Text", @class = "form-control", @id = "txtDescription", @placeholder = "Description", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                                @{
                                    string Text = "Add Medicine";
                                    if (Model.ID != 0)
                                    {
                                        Text = "Update Medicine";
                                    }
                                }
                                <input type="submit" id="btnSave" class="btn btn-raised g-bg-cyan waves-effect" value="@Text" name="Save" />

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

}
