@model IEnumerable<HMS.Models.tblPatientBill>

@{
    ViewBag.Title = "PatientBillLists";
}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Patients Bill Record</h2>

        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2></h2>
                        <a href='/patient-create-bill' style="margin-left:808px;" class="btn btn-raised g-bg-cyan">Generate Bill</a>
                    </div>
                    <div class="body table-responsive">
                        <table class="table table-bordered table-striped table-hover dataTable">

                            <thead>
                                <tr>
                                    <th>PatientAppointmentID</th>
                                    <th>Bill No</th>
                                    <th>Amount</th>
                                    <th>Discount</th>
                                    <th>CreatedAt</th>
                                    <th>CreatedBy</th>
                                    <th>Descritption</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var list = ViewData["GetRecords"];
                                    if (list != null)
                                    {
                                        foreach (var item in ViewData["GetRecords"] as IEnumerable<HMS.Models.tblPatientBill>)
                                        {
                                            <tr>
                                                <td>@item.PatientAppointmentID</td>
                                                <td>@item.BillNo</td>
                                                <td>@item.Amount</td>
                                                <td>@item.Discount</td>
                                                <td>@item.CreatedAt</td>
                                                <td>@item.CreatedBy</td>
                                                <td>@item.Description</td>
                                                <td>
                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                                                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>
                                                <label>Record Not Exist</label>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>









        @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BillNo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Discount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedBy)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.tblPatientAppointment.Description)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BillNo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Discount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    @*<td>
                            @Html.DisplayFor(modelItem => item.tblPatientAppointment.Description)
                        </td>*@
                    @*<td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                </tr>
            }

        </table>*@
