@using HMS.ViewModels
@model HMS.ViewModels.DeleteViewModel
@{
    ViewBag.Title = "PatientsBill Delete";
}

<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Delete</h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <h3>Are You Sure You Want To Delete This?</h3>
                    <div class="body">
                        <div class="row clearfix">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.DisplayNameFor(m => m.billmodel.ID)
                                        <br />
                                        @Html.DisplayFor(m => m.billmodel.ID)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.DisplayNameFor(m => m.billmodel.PatientAppointmentID)
                                        <br />
                                        @Html.DisplayFor(m => m.billmodel.PatientAppointmentID)
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="form-line">

                                        @Html.DisplayNameFor(m => m.billmodel.BillNo)
                                        <br />
                                        @Html.DisplayFor(m => m.billmodel.BillNo)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.DisplayNameFor(m => m.billmodel.Amount)
                                        <br />
                                        @Html.DisplayFor(m => m.billmodel.Amount)
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.DisplayNameFor(m => m.billmodel.Discount)
                                        <br />
                                        @Html.DisplayFor(m => m.billmodel.Discount)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row clearfix">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.DisplayNameFor(m => m.billmodel.CreatedAt)
                                        <br />
                                        @Html.DisplayFor(m => m.billmodel.CreatedAt)
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.DisplayNameFor(m => m.billmodel.CreatedBy)
                                        <br />
                                        @Html.DisplayFor(m => m.billmodel.CreatedBy)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                <div class="form-group">
                                    <div class="form-line">
                                        @Html.DisplayNameFor(m => m.billmodel.Description)
                                        <br />
                                        @Html.DisplayFor(m => m.billmodel.Description)
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-sm-6 col-md-6 col-lg-6">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-actions no-color">
                                        @Html.HiddenFor(m => m.billmodel.ID)
                                        <input type="submit" value="Delete" class="btn btn-default" /> |
                                        @Html.ActionLink("Back to List", "BillListings")
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>