@model HMS.Models.tblPatient
@{
    ViewBag.Title = "AddPatient";
}
@using (Html.BeginForm("AddPatient", "Patient"))
{
    @Html.ValidationSummary(true)
    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>Add Patient</h2>
                <small class="text-muted">Welcome [Hospital Name]</small>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2>Basic Information <small>Description text here...</small> </h2>

                        </div>
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-lg-4 col-sm-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                          
                                            @Html.TextBoxFor(x=>x.Patient_Name, new { @type = "text", @class = "form-control", @id = "txtName", @placeholder = "Patient Name", @required = "required" })
                             
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(x => x.Patient_address, new { @type = "text", @class = "form-control", @id = "txtAddress", @placeholder = "Patient Address", @required = "required" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(x => x.Contact_no, new { @type = "text", @class = "form-control", @id = "txtPhn", @placeholder = "Patient Phone No.", @required = "required" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(x => x.Date_of_Birth, new { @type = "text", @class = "datepicker form-control", @id = "txtDOB", @placeholder = "Date of Birth", @required = "required" })

                                              </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBoxFor(x => x.Age, new { @type = "text",@maxlength="2", @class = "form-control", @id = "txtAge", @placeholder = "Age", @required = "required" })

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="form-group drop-custum">
                                        @Html.DropDownListFor(model => model.Gender,

new List<SelectListItem>
{
new SelectListItem {Text = "---Gender---",
Value = "0",
Selected = true},
new SelectListItem { Text = "Male",
Value = "1"},
new SelectListItem {  Text = "Female",
Value = "2"},

},
new { @id = "ddlGender", @class = "form-control show-tick", @required="required", })

                                    </div>
                                </div>
                          
                            </div>
                            
                            <div class="row clearfix">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextAreaFor(x => x.Note, new { @type = "text",@rows="4", @class = "form-control no-resize", @id = "txtnote", @placeholder = "Description" })

                                                  </div>
                                    </div>
                                </div>
                                <div class="">
                                    @{
                                        string Text = "Add Patient";
                                        if (Model.Patient_id != 0)
                                        {
                                            Text = "Update Patient";
                                        }
                                    }
                                    <input type="submit" id="btnSave" class="btn btn-raised g-bg-cyan" value="@Text" name="Save" />

                                                          </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </section>

}