@model HMS.Models.GetPatientList_Result
@{
    ViewBag.Title = "PatientList";
}


<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Patients</h2>

        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Patients</h2>
                        @*<select class="form-control show-tick">
                            
                            @{
                                if (ViewBag.doctors != null)
                                {
                                    foreach (var item in ViewBag.doctors)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                }
                            }
                        </select>*@
                    </div>
                    <div class="body table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">

                            <thead>
                                <tr>
                                    <th>Patient ID</th>
                                    <th>Patient Name</th>
                                    <th>Contact_no</th>
                                    @*<th>Doctor Name</th>
                                    <th>AppointmentDate</th>*@

                                    <th>Actions</th>

                                </tr>
                            </thead>

                            <tbody>
                                @{
                                    var list = ViewData["GetPatientList"];
                                    List<HMS.Models.tblEmployee> doclist = ViewBag.doctors;


                                    if (list != null)
                                    {
                                        foreach (var item in list as IEnumerable<HMS.Models.tblPatient>)
                                        {
                                          //  var appoint_id = item.tblPatientAppointments.Where(x=>x.PatientID==item.Patient_id).FirstOrDefault();

                                            string admission_style = "style='display:none;'";
                                            string appoint_url = "";
                                            // string Doctor_name = "";
                                            string admission_url = "";
                                            //string AppointmentDate = "";
                                            string admission_text = "";
                                            string appointement_text = "";

                                            //if(appoint_id!=null)
                                            // {
                                            //var admit_id = appoint_id.tblPatientAdmissions.Where(x => x.PatientAppointmentID == appoint_id.ID).FirstOrDefault();

                                            //  var doc = doclist.Where(x => x.ID == appoint_id.DoctorID).FirstOrDefault();
                                            //Doctor_name = doc.Name;
                                            // appointement_text = "Update Appointment";

                                            admission_style = "style='display:block;'";
                                            admission_url = "/patient-admissions?Patient_id=" + item.Patient_id; ;
                                            //AppointmentDate = appoint_id.AppointmentDate.ToString();
                                            admission_text = "Patient's Admission";

                                            appoint_url = "/patient-appointments?patient_id=" + item.Patient_id;
                                            appointement_text = "Patient's Appointment";
                                            //    if (admit_id != null)
                                            //    {
                                            //        admission_url = "/patient-admission?appointment_id=" + appoint_id.ID + "&patient_id=" + item.Patient_id + "&addmission_id=" + admit_id.ID;
                                            //        admission_text = "Update Admit";
                                            //    }
                                            // }
                                            //else
                                            //{
                                            // }

                                            <tr>
                                                <td>@item.Patient_id</td>
                                                <td>@item.Patient_Name</td>
                                                <td>@item.Contact_no</td>
                                                @*<td>@Doctor_name</td>
                                                <td>@AppointmentDate</td>*@

                                                <td>





                                                            <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                   Actions</a>
                                                            <ul class="dropdown-menu pull-right">
                                                                <li> <a href='/add-patient?Patient_id=@item.Patient_id'>Update</a></li>
                                                                <li>   <a href='#' onclick="Delete(@item.Patient_id);">
                                                        Delete
                                                    </a></li>
                                                                <li ><a href="@appoint_url">@appointement_text</a></li>
                                                                <li @admission_style><a href="@admission_url">@admission_text</a></li>
                                                                <li><a href="/patient-tests?patient_id=@item.Patient_id">Patient's Test</a></li>
                                                                <li><a href="/patient-medicine?Patient_id=@item.Patient_id">Patient's Medicine</a></li>
                                                            </ul>



                                                </td>

                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td>
                                                <label>Record Not Exist</label>
                                            </td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function Delete(id) {
        var r = confirm("Are you sure");
        if (r == true) {
            var url = '/delete-patient?id=' + id + '';

            window.location.href = url;

        }
        return false;

    }

</script>


