@using HMS.Models 
@*@model IEnumerable<HMS.Models.tblPatient>*@

@{
    ViewBag.Title = "Index";
}

<section class="content">
    @using (Html.BeginForm("Index", "Search", FormMethod.Get))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="container-fluid">
            <div class="block-header">
                <h2>Search Patients Record</h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="body">
                            <div class="row clearfix">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="form-line">
                                                @Html.TextBox("PatientID", null, new { @class = "form-control", id = "PatientID", @placeholder = "Patiend ID" })
                                            </div>
                                        </div>
                                    </div>
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            @Html.TextBox("PatientName", null, new { @class = "form-control", id = "PatientName", @placeholder = "Patiend Name" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row clearfix">
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="form-line">
                                                @Html.TextBox("PatientAddress", null, new { @class = "form-control", id = "PatientAddress", @placeholder = "Patiend Address" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                        <div class="form-group">
                                            <div class="form-line">
                                                @Html.TextBox("ContactNo", null, new { @class = "form-control", id = "ContactNumber", @placeholder = "Contact Number" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="row clearfix">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <input type="submit" id="Submit" class="btn btn-raised g-bg-cyan waves-effect" value="Search" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="row clearfix">
        <div class="container-fluid">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body table-responsive">
                        <table class="table table-bordered table-striped table-hover js-basic-example dataTable">
                            <thead>
                                <tr>
                                    <th>Patient ID</th>
                                    <th>Patient Name</th>
                                    <th>Patient Address</th>
                                    <th>Contact Number</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            @{ 
                                var list = ViewData["GetSearchList"];
                                if (list != null)
                                {
                                    foreach (var item in list as IEnumerable<HMS.Models.tblPatient>)
                                    {
                                        var appoint_id = item.tblPatientAppointments.Where(x => x.patient_id == item.Patient_id).FirstOrDefault();
                                        int PatientAppointID = 0;
                                        if (appoint_id != null)
                                        {
                                            PatientAppointID = appoint_id.ID;

                                        }
                                            <tr>
                                                <td>@item.Patient_id</td>
                                                <td>@item.Patient_Name</td>
                                                <td>@item.Patient_address</td>
                                                <td>@item.Contact_no</td>
                                                <td>@item.Age</td>
                                                <td>@item.Gender</td>
                                                <td>
                                                    <a href='/tests?id='>Add Test</a> 
                                                    <br />
                                                    <a href='/add-patient?id='>Add Addmission</a> 
                                                    <br />
                                                    <a href='/patient-create-bill?id='>Make Appointment</a>
                                                    <br />
                                                    <a href='/patient-create-bill?Appointment_id=@PatientAppointID '>Generate Bill</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="7" style="color:red">
                                                No Match Found
                                            </td>
                                        </tr>
                                    }
                            }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
