@using HMS.ViewModels
@model HMS.ViewModels.DashboardViewModel

@{
    ViewBag.Title = "Home Page";
    // Layout = "~/Views/Shared/_Layout.cshtml";
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />
}
<section class="content home">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Dashboard</h2>
            <small class="text-muted">Welcome to Hospital Management System</small>
        </div>
        @foreach (var item in Model.DashboardsModel)
        {
            <div class="row clearfix">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="info-box-4 hover-zoom-effect">
                        <div class="icon"> <i class="zmdi zmdi-account col-blue"></i> </div>
                        <div class="content">
                            <div class="text">Active Patient</div>
                            <div class="number">
                                @item.ActivePatients
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="info-box-4 hover-zoom-effect">
                        <div class="icon"> <i class="zmdi zmdi-account col-green"></i> </div>
                        <div class="content">
                            <div class="text">Admission Types</div>
                            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>@item.TemporrayPatients</i> Temporary</span>
                            <br />
                            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>@item.PermanentPatients</i> Permanent</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="info-box-4 hover-zoom-effect">
                        <div class="icon"> <i class="zmdi zmdi-bug col-blush"></i> </div>
                        <div class="content">
                            <div class="text">Today's Operations</div>
                            <div class="number">@item.TodaysOperations</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6">
                    <div class="info-box-4 hover-zoom-effect">
                        <div class="icon"> <i class="zmdi zmdi-balance col-cyan"></i> </div>
                        <div class="content">
                            <div class="text">Hospital Earning</div>
                            <div class="number">@item.HospitalEarnings</div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Hospital Survey</h2>
                    </div>
                    <div class="body">
                        <div id="hospitalSurvey" class="col-md-12 col-sm-12 col-xs-12" style="height:230px;">Financial Assistance</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class=" col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="header">
                        <h2>Patient Details</h2>
                    </div>
                    <div class="body">

                        @foreach (var item in Model.PatientsCount)
                        {


                            <div class="stats-report">
                                <div class="stat-item">
                                    <h5>Overall Admitted</h5>
                                    <b class="col-indigo">@item.OverallPatientsAdmitted</b>
                                </div>
                                <div class="stat-item">
                                    <h5>Current Month</h5>
                                    <b class="col-indigo">@item.PatientsAdmittedCurrentMonth</b>
                                </div>
                                <div class="stat-item">
                                    <h5>Today</h5>
                                    <b class="col-indigo">@item.PatientsAdmittedToday</b>
                                </div>
                            </div>

                            <div id="MonthlyAdmissions" class="sparkline" data-type="line" data-spot-Radius="3" data-highlight-Spot-Color="rgb(233, 30, 99)" data-highlight-Line-Color="#222"
                                 data-min-Spot-Color="rgb(233, 30, 99)" data-max-Spot-Color="rgb(96, 125, 139)" data-spot-Color="rgb(96, 125, 139, 0.7)"
                                 data-offset="90" data-width="100%" data-height="100px" data-line-Width="1" data-line-Color="rgb(96, 125, 139, 0.7)"
                                 data-fill-Color="rgba(96, 125, 139, 0.3)">New Patients</div>
                        }
                    </div>
                </div>
            </div>

            <div class=" col-sm-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="header">
                        <h2>Rooms Occupied</h2>
                    </div>
                    <div class="body">

                        @foreach (var item in Model.RoomsOccupied)
                        {
                            <div class="stats-report">
                                <div class="stat-item">
                                    <h5>Total Rooms</h5>
                                    <b class="col-indigo">@item.TotalRooms</b>
                                </div>
                                <div class="stat-item">
                                    <h5>Booked Rooms</h5>
                                    <b class="col-indigo">@item.BookedRooms</b>
                                </div>
                                <div class="stat-item">
                                    <h5>Rooms Available</h5>
                                    <b class="col-indigo">@item.RoomsAvailable</b>
                                </div>
                            </div>

                            <div id="RoomsOccupied" class="sparkline" data-type="line" data-spot-Radius="3" data-highlight-Spot-Color="rgb(233, 30, 99)" data-highlight-Line-Color="#222"
                                 data-min-Spot-Color="rgb(233, 30, 99)" data-max-Spot-Color="rgb(96, 125, 139)" data-spot-Color="rgb(96, 125, 139, 0.7)"
                                 data-offset="90" data-width="100%" data-height="100px" data-line-Width="1" data-line-Color="rgb(96, 125, 139, 0.7)"
                                 data-fill-Color="rgba(96, 125, 139, 0.3)">Rooms Availability</div>
                        }
                    </div>
                </div>
            </div>
            @*<div class=" col-sm-12 col-md-4 col-lg-4">
                    <div class="card">
                        <div class="header">
                            <h2>Available Tests Facility</h2>
                        </div>
                        <div class="body">

                            <div class="stats-report">
                                <div class="stat-item">
                                    <h5>Available Staff Specialities</h5>
                                    <b class="col-indigo">32</b>
                                </div>
                            </div>

                            <div id="StaffSpeciality" class="sparkline" data-type="line" data-spot-Radius="3" data-highlight-Spot-Color="rgb(233, 30, 99)" data-highlight-Line-Color="#222"
                                 data-min-Spot-Color="rgb(233, 30, 99)" data-max-Spot-Color="rgb(96, 125, 139)" data-spot-Color="rgb(96, 125, 139, 0.7)"
                                 data-offset="90" data-width="100%" data-height="100px" data-line-Width="1" data-line-Color="rgb(96, 125, 139, 0.7)"
                                 data-fill-Color="rgba(96, 125, 139, 0.3)">Rooms Availability</div>
                        </div>
                    </div>
                </div>*@
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2> Active Patients List</h2>
                        <ul class="header-dropdown">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="zmdi zmdi-more-vert"></i></a>
                                <ul class="dropdown-menu float-right">
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                    <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <div class="x_content table-responsive" style="overflow-x:hidden;">
                            <table class="table table-striped" id="dtBasicExample">
                                <thead>
                                    <tr>
                                        <th>Patient ID</th>
                                        <th>Patient Name</th>
                                        <th>Patient Address</th>
                                        <th>Contact No.</th>
                                        <th>Age</th>
                                        <th>Gender</th>
                                        <th>Note</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.ActivePatientsList)
                                    {
                                        <tr>
                                            <td>@item.Patient_id</td>
                                            <td>@item.Patient_Name </td>
                                            <td>@item.Patient_address</td>
                                            <td>@item.Contact_no</td>
                                            <td>@item.Age</td>
                                            <td>@item.Gender</td>
                                            <td>@item.Note</td>
                                            <td><span class="label label-success">Active</span> </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts
{
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
      <script src="~/Content/Js_Files/Highcharts_File.js"></script>
    <script>
        $(document).ready(function () {

            $('#dtBasicExample').DataTable({
                "paging": true,// false to disable pagination (or any other option)
                "pageLength": 10
            });
            $('.dataTables_length').addClass('bs-select');
        });

            //$('#dtBasicExample').dataTable({
            //    "pageLength": 10
            //});
    </script>
}


